/* Font Import */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");
@font-face {
  font-family: gotham;
  src: url(fonts/GothamBook.ttf);
}
/* Custom Properties */
:root {
  --clr-accent-400: #e51837;
  --clr-accent-300: #bebebe;

  --clr-primary-800: #212121;
  --clr-primary-600: rgba(0, 0, 0, 0.75);
  --clr-primary-700: rgba(0, 0, 0, 0.8);
  --clr-primary-400: rgba(0, 0, 0, 0.2);
  --clr-primary-500: rgba(0, 0, 0, 0.5);

  --clr-neutral-100: #fafafa;
  --clr-neutral-200: #3c3c3c;

  --ff-primary: "Montserrat", sans-serif;
  --ff-accent: "gotham", sans-serif;

  --ff-body: var(--ff-primary);
  --ff-heading: var(--ff-primary);
  --ff-accent-heading: var(--ff-accent);

  --fw-regular: 400;
  --fw-medium: 500;
  --fw-semibold: 600;
  --fw-bold: 700;

  --fw-nav: var(--fw-semibold);
  --fw-primary-heading: var(--fw-bold);
  --fw-secondary-heading: var(--fw-semibold);
  --fw-paragraph: var(--fw-regular);
  --fw-text: var(--fw-medium);

  --fs-200: 0.5rem;
  --fs-300: 0.75rem;
  --fs-400: 1rem;
  --fs-500: 1.25rem;
  --fs-600: 1.875rem;
  --fs-700: 2rem;
  --fs-800: 2.5rem;
  --fs-900: 3rem;
  --fs-1000: 3.4375rem;
  --fs-1100: 4rem;

  --fs-nav: var(--fs-400);
  --fs-primary-body: var(--fs-500);
  --fs-secondary-body: var(--fs-400);
  --fs-primary-heading: var(--fs-1000);
  --fs-secondary-heading: var(--fs-1100);
  --fs-primary-button: var(--fs-500);
  --fs-secondary-button: var(--fs-400);
}

@media (max-width: 50em) {
  :root {
    --fs-nav: var(--fs-300);
    --fs-primary-body: var(--fs-400);
    --fs-secondary-body: var(--fs-200);
    --fs-primary-heading: var(--fs-600);
    --fs-secondary-heading: var(--fs-700);
    --fs-primary-button: var(--fs-300);
    --fs-secondary-button: var(--fs-200);
  }
}

/* Css Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
  font: inherit;
}
html {
  color-scheme: dark light;
}
body {
  min-height: 100vh;
}

img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

/* Utility Classes */
.text-accent-400 {
  color: var(--clr-accent-400);
}
.text-accent-300 {
  color: var(--clr-accent-300);
}
.text-primary-800 {
  color: var(--clr-primary-800);
}
.text-neutral-100 {
  color: var(--clr-neutral-100);
}
.text-neutral-200 {
  color: var(--clr-neutral-200);
}

.bg-accent-400 {
  background-color: var(--clr-accent-400);
}
.bg-accent-300 {
  background-color: var(--clr-accent-300);
}
.bg-primary-800 {
  background-color: var(--clr-primary-800);
}
.bg-neutral-100 {
  background-color: var(--clr-neutral-100);
}
.bg-neutral-200 {
  background-color: var(--clr-neutral-200);
}

.photo-filter-600 {
  background-color: var(--clr-primary-600);
}
.photo-filter-700 {
  background-color: var(--clr-primary-700);
}
.photo-filter-400 {
  background-color: var(--clr-primary-400);
}
.photo-filter-500 {
  background-color: var(--clr-primary-500);
}

.fw-regular {
  font-weight: var(--fw-regular);
}
.fw-medium {
  font-weight: var(--fw-medium);
}
.fw-semibold {
  font-weight: var(--fw-semibold);
}
.fw-bold {
  font-weight: var(--fw-bold);
}

.fs-nav {
  font-size: var(-fs-nav);
}
.fs-primary-body {
  font-size: var(--fs-primary-body);
}
.fs-secondary-body {
  font-size: var(--fs-secondary-body);
}
.fs-primary-heading {
  font-size: var(--fs-primary-heading);
}
.fs-secondary-heading {
  font-size: var(--fs-secondary-heading);
}

.fs-200 {
  font-size: var(--fs-200);
}
.fs-300 {
  font-size: var(--fs-300);
}
.fs-400 {
  font-size: var(--fs-400);
}
.fs-500 {
  font-size: var(--fs-500);
}
.fs-600 {
  font-size: var(--fs-600);
}
.fs-700 {
  font-size: var(--fs-700);
}
.fs-800 {
  font-size: var(--fs-800);
}
.fs-900 {
  font-size: var(--fs-900);
}
.fs-1000 {
  font-size: var(--fs-1000);
}
.fs-1100 {
  font-size: var(--fs-1100);
}

.container{
  --max-width: 1180px;
  --horizontal-margin:1.5rem;

  width: min(var(--max-width), 100% - (var(--horizontal-margin)*2));
  margin-inline: auto;
}
.even-columns{
  display: grid;
  gap: 1rem;
}
.four-even-columns{
  display: grid;
}
@media(min-width:50rem){
  .even-columns{
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
  }
  .four-even-columns{
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
/* General Styling */
body{
    font-family: var(--ff-body);
}