/* font import */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');
@font-face {
    font-family: gotham;
    src: url(fonts/GothamBook.ttf);
}
/* custom Properties */
:root{
    --clr-accent-400: #E51837;
    --clr-accent-300: #BEBEBE;

    --clr-primary-800: #212121;
    --clr-primary-600: rgba(0, 0, 0, 0.75);
    --clr-primary-700: rgba(0, 0, 0, 0.80);
    --clr-primary-400: rgba(0, 0, 0, 0.20);
    --clr-primary-500: rgba(0, 0, 0, 0.5);
    
    --clr-neutral-100: #FAFAFA;
    --clr-neutral-100: #3C3C3C;

    --clr-header: var(--clr-primary-400);
    --clr-navbar-indicator:var(--clr-accent-400);
    --clr-navbar: var(--clr-accent-300);
    --clr-bg-primary: var(--clr-primary-800);
    --clr-bg-secondary: var(--clr-neutral-100);
    --clr-paragraph:var(--clr-neutral-100);
    --clr-heading: var(--clr-neutral-100);
    --clr-feature: var(--clr-neutral-100);
    --clr-image-shadow:var(--clr-primary-500);
    --clr-line: var(--clr-neutral-100);
    --clr-photoFilter-light: var(--clr-primary-600);
    --clr-photoFilter-dark: var(--clr-primary-700);
    --clr-button-border:var(--clr-accent-400);
    --clr-button-text:var(--clr-neutral-100);

    --ff-primary:'Montserrat', sans-serif;
    --ff-accent:'gotham',sans-serif;

    --ff-body: var(--ff-primary);
    --ff-heading: var(--ff-primary);
    --ff-accent-heading: var(--ff-accent);

    --fw-regular: 400;
    --fw-medium: 500;
    --fw-semibold: 600;
    --fw-bold: 700;

    --fs-200: 0.5rem
    --fs-300: 0.75rem
    --fs-400: 1rem
    --fs-500: 1.25rem
    --fs-600: 1.875rem
    --fs-700: 2rem
    --fs-800: 2.5rem
    --fs-900: 3rem
    --fs-1000: 3.4375rem
    --fs-1100: 4rem
}